*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(164, 164, 235);
}
header{
    text-align:center;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
    margin: auto;
    padding: 50px;
}
main{
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 130px;
    border-bottom: 2px solid;
}
.containertwo{
    display: flex;
    margin: auto;
    width: auto;
                    justify-content: space-between;
                    padding-top: 50px;
                
                }
main>b{
    text-decoration: underline;
}